* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  height: 100vh;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* ------ HEADINGS ------ */
h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  color: #fff;
  word-spacing: 5px;
  font-size: 210%;
  letter-spacing: 5px;
  font-weight: 300;
  margin: 0 0;
}

h2 {
  color: #555;
  word-spacing: 2px;
  font-size: 180%;
  letter-spacing: 5px;
  font-weight: 300;
  margin: 30px 0;
  text-align: center;
}

h2:after {
  display: block;
  height: 2px;
  width: 200px;
  background-color: #a471c1;
  content: " ";
  margin: 0 auto;
  margin-top: 15px;
}

/* ------ BUTTONS ------ */
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 1s, color 1s, border 0.1s;
  margin-left: 79%;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: rgb(104, 57, 131);
  border: 3px solid rgb(104, 57, 131);
  color: #fff;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: rgb(104, 57, 131);
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover,
input[type="submit"]:hover {
  border: 3px solid rgb(104, 57, 131);
  background-color: transparent;
}

/* ---------------------------------------- */
/* HEADERS NAV */
/* ---------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(img/ajra.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  height: 75px;
  width: auto;
  float: left;
  margin: 3% 0 0 3%;
}

.zkwp-fci {
  height: 90px;
  width: auto;
  text-decoration: none;
}

.hero-text-box {
  position: absolute;
  width: 750px;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main navi */

.main-nav {
  float: right;
  list-style: none;
  margin: 4% 3% 0 0;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  text-decoration: none;
  font-size: 90%;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 1s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid rgba(100, 58, 124, 0.7);
}

/* ---------------------------------------- */
/* SECTION AJRA */
/* ---------------------------------------- */

.section-ajra {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  text-align: left;
  margin-top: 40px;
}

.ajra-icon {
  color: rgba(100, 58, 124, 0.7);
  float: left;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 100%;
  margin-right: 25px;
}

.ajra-description {
  padding: 3% 0 3% 3%;
}

.logo-zkwpfci-img {
  height: 150px;
  float: right;
}
